# root
vendor/
.htaccess
composer.lock
error_log
composer.phar
index.php
wp-config.php
wp/
.idea/
app/themes/*
!app/themes/reverie-plus
!app/themes/reverie-plus/index.php
app/themes/reverie-plus/.sass-cache/
app/themes/reverie-plus/bower_components/
app/mu-plugins
!app/mu-plugins/custom-content.php
app/plugins
