# root
vendor/
composer.lock
composer.phar
index.php
wp-config.php
wp/
.idea/
app/themes/*
!app/themes/reverie-plus
app/themes/reverie-plus/.sass-cache/
app/mu-plugins
!app/mu-plugins/custom-content.php
app/plugins
