
/* Alternative to Foundation top-bar */

/* Override font declaration for sidr mobile menu items */
.sidr {font-family: $body-font-family;}

#nav-bar {
  background: rgba(0,0,0,.1);
  width: 100%;
  padding-top: .3em;
  min-height: 28px;
  .inner {
    padding: 0 3%;
    ul {@include inline-list; margin-bottom: .5em;
      i {
        &::before {font-size: 20px;}
      }
    }
  }
}

@media only screen and (max-width: upper-bound($medium-range)) {
  #custom-side-menu {
    display: none;
  }
}


nav.navigation-bar {
  ul.title-area {
    .fa.fa-bars {
      margin: .75em -1em 0 0.75em;
      background: whitesmoke;
      border: darken(whitesmoke, 50%);
      padding: 6px;
      border-radius: 7px;
      &:before { font-size: 2em; color: $body-font-color; }
    }
  }
  ul {
    @include inline-list;
    margin-top: 1em;
    display: inline-block;

    /* Do not show me the side menu when in full screen mode */
    li.toggle-navigation {
      display: none;
    }
    /* Show me the side menu when in mobile mode*/
    @media only screen and (max-width: upper-bound($medium-range)) {
      li.toggle-navigation {
        display: block;
      }
    }
  }
}


#headerwrap {
  position: fixed;
  width: 100%;
  z-index: 3;
  background: white;
  top: 0px;
  border-bottom: 1px solid #ccc;

  nav.navigation-bar { background: white;
    ul {
      &.title-area {margin: 0;}
      li {
        &.name {
          h1 {
            img {height: 70px;}
          }
        }
      }
    }
    section.navigation-bar-section {
      margin: .75em .75em 0 0;
    }

  }

  /* Transition to smaller bar when scrolling */
  &.fixed-header {
    margin-top: -30px;
    /* remove social media bar when scrolling */
    #nav-bar {display: none;}

    nav.navigation-bar {
      ul {
        &.title-area {margin-bottom: 0;}

        li {
          &.name {
            margin: 1.13em 0 0 1.5em;
            h1 {
              img {height: 40px;}
            }
          }
        }
      }
    }
    header.header-on-scroll {
      position: relative;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }

  }
}

.post #headerwrap header,
.page #headerwrap header {
  margin-bottom: 0;
}

/* ------- Mobile Styles for scrolling ------- */
@media only screen and (max-width: upper-bound($medium-range)) {
  #headerwrap.fixed-header { background: white;
    header {
      nav.navigation-bar {
        ul {
          &.title-area {margin-bottom: 0; margin-top: 30px;
            li.name { margin: 0 0 0 1.5em;
              h1 {
                img {height: 50px;}
              }
            }
          }
        }
      }
    }
  }
  /* ------- Default Mobile Styles for non scrolling ------- */
  #headerwrap {
    header {
      nav.navigation-bar {
        ul {
          &.title-area {
            li.name {
              h1 {
                img {height: 60px;}
              }
            }
          }
        }
      }
    }
  }
  /* Hide the top bar in mobile */
  #nav-bar {
    display: none;
  }

}
